        <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="src/style.css">
        <style>
          body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
          }

          .container {
            max-width: 650px;
            width: 90%;
            margin: auto;
            font-size: 1rem;
            font-weight: 400;
          }

          .logo-container {
            background-color: white;
          }

          .logo {
            max-width: 100%;
            width: 220px;
            margin-left: auto;
            background-image: url({{imagePath}});
            background-size: contain;
            height: 120px;
          }

          h2 {
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 3rem;
          }

          p.bold {
            font-weight: bold;
            margin-bottom: 3rem;
          }

          p {
            margin-bottom: 1rem;
          }

          b.underline {
            color: #5137a5;
            text-decoration: underline;
            font-weight: 400;
          }

          .reset-button {
            background-color: #96b32d;
            margin: 1rem auto;
            width: fit-content;
            color: white;
            padding: 1rem 3rem;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .reset-button a {
            text-decoration: none;
            color: white;
            font-weight: bold;
          }

          .footer {
            font-weight: bold;
            margin: 3rem 0;
          }

          .footer p {
            margin: 0;
          }

          .footer-text {
            text-align: center;
            margin: 0 auto;
          }
        </style>
      </head>
      <body>

        <div class="container">
          <div class="logo-container">
            <div class="logo"></div>
          </div>

          <h2>Reset Password Link</h2>

          <p class="bold">Hello {{fullName}},</p>

          <p>We've received a request to reset the password for the IWIA account associated with
            <b class="underline">{{email}}</b>
            You can update your password by clicking the reset password link below:
          </p>

          <div class="reset-button">
            <a href="{{resetUrl}}" target="_blank">Reset Password</a>
          </div>

          <p>If the button doesn't work for you, copy this link below, and paste it in your browser</p>

          <a href="{{resetUrl}}">{{resetUrl}}</a>

          <p>If you need additional assistance, or you did not make this change, please contact
            <b class="underline">help@iworkinafrica.com</b>
          </p>

          <div class="footer">
            <p>Cheers,</p>
            <p>IWIA team</p>
          </div>

          <div class="footer-text">
            <p><i>Copyright © 2023 IWIA, All rights reserved.</i></p>
          </div>
        </div>

      </body>
      </html>
