<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
  <table cellpadding="0" cellspacing="0" width="100%" align="center">
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="100%" style="max-width: 650px; width: 90%; margin: auto; font-size: 1rem; font-weight: 400;">
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td>
                    <div style="max-width: 100%; width: 220px; height: 120px; margin-left: auto; background-image: url({{imagePath}}); background-size: contain;"></div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <h2 style="font-size: 1.6rem; font-weight: bold; margin-bottom: 3rem;">Reset Password Link</h2>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-weight: bold; margin-bottom: .5rem;">Hello IWIA Admin,</p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="margin-bottom: 1rem;">There's a request to reset the password for the IWIA admin account
                <b style="color: #5137a5; font-weight: 400; text-decoration: underline;">{{email}}</b>. You can update your password by clicking the reset password link below:
              </p>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #96b32d; border-radius: 0.5rem; width: fit-content; margin: 2rem auto">
                <tr>
                  <td align="center">
                    <a href="{{resetUrl}}" target="_blank" style="text-decoration: none; color: white; font-weight: bold; display: block; padding: .8rem 2.5rem;">Reset Password</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td>
              <p style="margin-bottom: 1rem;">If the button doesn't work for you, copy this link below, and paste it in your browser:</p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="margin-bottom: 1rem;"><a href="{{resetUrl}}" style="text-decoration: none;">{{resetUrl}}</a></p>
            </td>
          </tr>
          <tr>
            <td>
              <div style="font-weight: bold; margin: 1rem 0 2rem 0;">
                <p style="margin: 0;">Cheers.</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center; margin: 0 auto 1.5rem auto;"><i>Copyright © 2023 IWIA, All rights reserved.</i></p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
